# Unlock browser restrictions for new bing AI search.

^https:\/\/www\.bing\.com\/(search|new) url request-header (\r\n)User-Agent:.+(\r\n) request-header $1Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 Chrome/110.0 Safari/537.36 Edg/110.0$2

hostname = www.bing.com